<form class="form">
    <div class="form__password">
        <input type="text" placeholder="Enter the password" class="form__input" [formControl]="passwordForm">
        <div class="form__error"
            *ngIf="passwordForm.dirty && passwordForm.invalid || passwordForm.touched && passwordForm.invalid">
            *Password should have at least 8 symbols
        </div>
    </div>
    <div [ngClass]="{'red':passwordLevel===0 && passwordForm.touched && passwordForm.value 
    || passwordForm.invalid && passwordForm.value || passwordLevel===1,
    'yellow':passwordLevel===2 && passwordForm.valid,
    'green':passwordLevel===3 && passwordForm.valid
}" class="form__section">Easy</div>
    <div [ngClass]="{'red':passwordLevel===0 && passwordForm.touched && passwordForm.value 
    || passwordForm.invalid && passwordForm.value,
        'yellow':passwordLevel===2 && passwordForm.valid,
        'green':passwordLevel===3 && passwordForm.valid
    }" class="form__section">Medium</div>
    <div [ngClass]="{'red':passwordLevel===0 && passwordForm.touched && passwordForm.value
    || passwordForm.invalid && passwordForm.value,
    'green':passwordLevel===3 && passwordForm.valid
}" class="form__section">Strong</div>
</form>