<form class="form" [formGroup]="myForm">
    <div class="form__password">
        <input type="password" placeholder="Enter the password" class="form__input" formControlName="password">
        <div class="form__error" *ngIf="myForm.get('password')?.touched && myForm.get('password')?.invalid">
            *Password should have at least 8 symbols
        </div>
    </div>
    <div [ngClass]="{'red':passwordLevel===0 && myForm.get('password')?.touched && myForm.get('password')?.value !=='' || passwordLevel===1,
    'yellow':passwordLevel===2,
    'green':passwordLevel===3
}" class="form__sections form__section_one">Easy</div>
    <div [ngClass]="{'red':passwordLevel===0 && myForm.get('password')?.touched && myForm.get('password')?.value !=='' ,
        'yellow':passwordLevel===2,
        'green':passwordLevel===3
    }" class="form__sections form__section_two">Medium</div>
    <div [ngClass]="{'red':passwordLevel===0 && myForm.get('password')?.touched && myForm.get('password')?.value !=='' ,
    'green':passwordLevel===3
}" class="form__sections form__section_three">Strong</div>
</form>